# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# MLflow experiment data (local only)
mlruns/
mlflow.db

# OS
.DS_Store

#IDE
.idea

#local
.venv
venv/
#symlinks
src/bst_refactor/ShuttleSet/raw_video
src/bst_refactor/ShuttleSet/clips
src/bst_refactor/ShuttleSet/shuttle_csv
src/bst_refactor/ShuttleSet/shuttle_npy
#wildcard for various taxonomies--could cause a problem if you unluckily picked this root name
src/bst_refactor/stroke_classification/preparing_data/ShuttleSet_data_*
src/bst_refactor/stroke_classification/main_on_shuttleset/tmp/
src/bst_refactor/stroke_classification/main_on_shuttleset/preparing_data
